* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: white;
}

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(
      rgba(27, 38, 44, 0.75),
      rgba(27, 38, 44, 0.75)
    ),
    url("../imgs/windmill_landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
}

nav,
#icon {
  display: flex;
  align-items: center;
}

#icon {
  font-size: 2rem;
  gap: 0.5rem;
}

#text {
  display: flex;
  margin: auto;
}

#hero-text {
  font-size: 4rem;
  margin-bottom: 2%;
}

.bx-down-arrow-alt {
  font-size: 4rem;
  margin: 0 auto;
}

section {
  padding: 1rem;
  display: flex;
}

#inputs-section {
  flex-direction: column;
  align-items: center;
  height: 103vh;
  background-color: #323232;
}

#inputs-title {
  font-size: 3rem;
  margin-top: 0.25em;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-input-container {
  width: 50%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-input-container p {
  font-size: 0.75em;
  padding-top: 0.1rem;
  color: rgba(255, 255, 255, 0.25);
}

#city-input-container {
  border-right: solid rgba(255, 255, 255, 0.1) 1px;
}

input {
  width: 25%;
  text-align: center;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-top: 10rem;
}

input::placeholder {
  text-align: center;
}

section i {
  font-size: 4rem;
}

#weather {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #d1903b;
  align-items: center;
  justify-content: center;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#weather-header {
  display: flex;
  width: 50vw;
  justify-content: center;
}

#weather-header h1,
#weather-header i {
  font-size: 6rem;
}

#weather-header h1 {
  padding-right: 0.5rem;
}

#weather-header aside {
  padding-left: 0.5rem;
}

#temperatures-container {
  color: rgba(255, 255, 255, 0.75);
}

#min-temp-container {
  border-right: solid rgba(255, 254, 254, 0.25) 1px;
  padding-right: 0.5em;
}

#max-temp-container {
  padding-left: 0.5em;
}

#weather-footer {
}

#noinfo {
  font-size: 4rem;
}

#noinfo-description {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
}


@media (max-width : 700px){

  html{
      font-size: 10px;
    }

  #hero{
    background-image: linear-gradient(
      rgba(27, 38, 44, 0.75),
      rgba(27, 38, 44, 0.75)
    ),
    url("../imgs/windmill_landscape_short.jpg");
  }

  #hero nav a{
    font-size: 1.5rem;
  }

  #hero-text{
    font-size: 2.75rem;
    max-width: 95vw;
    white-space: nowrap;
  }

  section{
    padding: 0;
  }

  #inputs-section {
    text-align: center;
    height: 103vh;
    padding: 5% 0;
  }

  #inputs-title {
    font-size: 2.75rem;
    margin-top: 0;
}

#city-input-container{
  border-right: none;
  border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
}

input{
  width: 25vw;
}

  h3{
    font-size: 1.6rem;
  }

  form{
    flex-direction: column;
  }

  #noinfo{
    font-size: 2.75rem;
  }

  #noinfo-description {
    font-size: 1.375rem;
  }

  .weather-container{
    width: 75vw;
  }

  #weather-header{
    width: 100%;
  }

  #weather-header h1, #weather-header i {
    font-size: 6rem;
  }

  .range-temps{
    font-size: 1.25rem;
  }
}

@media (min-width : 700px) and (max-width : 992px){

  html{
    font-size: 10px;
  }

  #noinfo{
    white-space: nowrap;
    font-size: 3rem;
  }

  #noinfo-description{
    font-size: 1.5rem;
  }
}